*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6e2f0;
}
.qr-code {
  height: 12em;
  border-radius: 1em;
}
.container {
  background-color: white;
  padding: 2em;
  width: 50%;
  height: 40%;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.leftbox h1 {
  color: hsla(227, 38%, 17%, 0.9);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.leftbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.leftbox p {
  color: grey;
  font-size: 1.5rem;
}
.rightbox {
  background-color: #f2d7ff;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
